<!doctype html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="assets/css/cf-markobs.css"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/github.min.css">

    <script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="assets/js/angular.js"></script>

    <script type="text/javascript" src="assets/js/html-formatting.js"></script>
    <script type="text/javascript" src="assets/js/cf-markobs.js"></script>
</head>
<body>

<div ng-app="cf-markobs" ng-cloak="">

    <div ng-controller="MarkObsTestController as moCtrl" ng-cloak="">

        <div class="row wide">

            <h1>markobs : v0.0.0 - proof of concept</h1>

            <p>markobs are HTML objects, or markup-objects if you will. The concept is to have a very strict system for building HTML that can be used by novices with zero HTML experience.</p>
            <p>The driving goals of this system verses other WYSIWYG system will be the complete lack of HTML cruft and easy future proofing with regards future developments in HTML and not tying the data to any single programming language or CSS framework.</p>

            <div class="panel">
                <h4>Test Content</h4>
                <ul class="button-group">
                    <li><a class="button" ng-click="moCtrl.setContent('empty')">Empty</a></li>
                    <li><a class="button" ng-click="moCtrl.setContent('lorem')">Lorem ipsum</a></li>
                    <li><a class="button" ng-click="moCtrl.setContent('owls')">Owls (wikipedia)</a></li>
                </ul>
            </div>

        </div>

        <div class="row wide">
            <div class="large-6 columns">

                <div class="row push-down">

                    <h3>The Editor</h3>
                    <p>This will be the friendly UI for building a markob</p>

                    <div class="markob-editor">

                        <!--<div class="icon-bar five-up">-->
                            <!--<a class="item">-->
                                <!--<label>Home</label>-->
                            <!--</a>-->
                            <!--<a class="item">-->
                                <!--<label>Bookmark</label>-->
                            <!--</a>-->
                            <!--<a class="item">-->
                                <!--<label>Info</label>-->
                            <!--</a>-->
                            <!--<a class="item">-->
                                <!--<label>Mail</label>-->
                            <!--</a>-->
                            <!--<a class="item">-->
                                <!--<label>Like</label>-->
                            <!--</a>-->
                        <!--</div>-->

                        <div class="item-list">
                            <div class="markob-item" ng-repeat="item in moCtrl.markob.items">
                                <label class="label item-label">{{item.type}}</label>

                                <div class="item-controls">
                                    <div class="row">
                                        <div class="small-1 columns">
                                            <a class="button alert tiny trash" ng-click="moCtrl.removeItem($index, item)">
                                                <i class="fi-trash"></i>
                                            </a>
                                        </div>
                                        <div class="small-8 columns">

                                            <div ng-switch="item.type">
                                                <div ng-switch-when="heading">

                                                    <div ng-switch="item.rank">
                                                        <h1 ng-switch-when="1">
                                                            {{item.content}}
                                                        </h1>
                                                        <h2 ng-switch-when="2">
                                                            {{item.content}}
                                                        </h2>
                                                        <h3 ng-switch-when="3">
                                                            {{item.content}}
                                                        </h3>
                                                        <h4 ng-switch-when="4">
                                                            {{item.content}}
                                                        </h4>
                                                        <h5 ng-switch-when="5">
                                                            {{item.content}}
                                                        </h5>
                                                        <h6 ng-switch-when="6">
                                                            {{item.content}}
                                                        </h6>
                                                    </div>

                                                </div>
                                                <div ng-switch-when="image">

                                                    <img ng-src="{{item.attributes.src}}" alt="{{item.attributes.alt}}">

                                                </div>
                                                <div ng-switch-when="paragraph">

                                                    <div ng-if="!item.items || item.items.length == 0">
                                                        <p>{{item.content}}</p>
                                                    </div>

                                                    <div ng-if="item.items && item.items.length > 0">
                                                        a para with <strong>{{item.items.length}}</strong> items
                                                        <!--<p>item :: {{item}}</p>-->
                                                    </div>

                                                </div>
                                                <div ng-switch-when="list">

                                                    <div ng-switch="item.flavour">
                                                        <ol ng-switch-when="ordered">
                                                            <li ng-repeat="li in item.items">
                                                                {{li.content}}
                                                            </li>
                                                        </ol>
                                                        <ul ng-switch-when="unordered">
                                                            <li ng-repeat="li in item.items">
                                                                {{li.content}}
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                <div ng-switch-default>

                                                    <p>
                                                        still need to create : <strong>{{item.type}}</strong>
                                                    </p>

                                                    <p>item :: {{item}}</p>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="small-3 columns">

                                            <div class="row">
                                                <div class="small-5 columns">
                                                    <!--<a class="button" ng-click="moCtrl.editItem($index, item)">Edit</a>-->
                                                </div>
                                                <div class="small-7 columns">
                                                    <div class="icon-bar large-vertical two-up">
                                                        <a class="item" ng-click="moCtrl.moveItemUp($index, item)">
                                                            <label>up</label>
                                                        </a>
                                                        <a class="item" ng-click="moCtrl.moveItemDown($index, item)">
                                                            <label>down</label>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--<div class="row">-->
                                        <!--<div class="small-5 columns">&nbsp;</div>-->
                                        <!--<div class="small-2 columns">-->
                                            <!--<a class="button tiny success" ng-click="addItemAfter($index)"><i class="fi-plus"></i> Add</a>-->
                                        <!--</div>-->
                                        <!--<div class="small-5 columns">&nbsp;</div>-->
                                    <!--</div>-->
                                </div>
                            </div>
                        </div>

                        <div ng-show="moCtrl.deletedItems.length > 0">
                            <h4>Deleted Items</h4>

                            <p>Items you have removed will appear here, just in case you want them back.</p>

                            <div class="markob-item" ng-repeat="item in moCtrl.deletedItems">
                                <label class="label item-label">{{item.type}}</label>

                                <div class="item-controls">
                                    <div class="row">
                                        <div class="small-8 columns">
                                        </div>
                                        <div class="small-3 columns">

                                            <div class="row">
                                                <a class="button" ng-click="moCtrl.reinstateDeleted($index, item)">Reinstate</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <hr/>

                </div>
                <div class="row push-down">
                    <h3>markob</h3>
                    <p>This is the raw markob object in json format</p>
                    <pre><code><pretty-code class="json">{{moCtrl.markob}}</pretty-code></code></pre>
                </div>


            </div>
            <div class="large-6 columns">

                <div class="row push-down">
                    <h3>Preview</h3>
                    <p>This is how the markob will look as HTML with the current stylesheets</p>
                    <div class="panel" ng-bind-html="moCtrl.html"></div>
                </div>

                <hr/>

                <div class="row push-down">
                    <h3>HTML code</h3>
                    <p>This is the HTML code generated from the markob</p>
                    <pre><code><pretty-code class="html">{{moCtrl.html}}</pretty-code></code></pre>
                </div>
            </div>
        </div>

    </div>

</div>


</body>
</html>